<body> 

<div id="Inhalt">
Ergebnis des Gleitenden Arithmetischen Mittels: 
<br> 
	pBm = <%= @e_gam %> 
<br> 

Mit folgenden Parametern: 
<br>
	Planbedarf des letzten Monats = <%= params[:b1] %>
<br> 
	Planbedarf des vorletzten Monats = <%= params[:b2] %>
<br> 
	Planbedarf des vorvorletzten Monats = <%= params[:b3] %>

<br>

</div>

<body> 