<body>
<div id="Inhalt">
Benutzer-modul

<br> 

		<%= link_to 'Primaerbedarfsanaylse', "/user/pba"%>
<br> 
		
		<%= link_to 'ABC-Analyse', "/user/abc_an"%>

<br> 		
		
		<%= link_to 'Stückliste', "/user/stueckliste"%>

<br>
		<%= link_to 'Auftragsverfolgung', "/user/auftragsverfolgung"%>

</body>
