<body>
<div id="Inhalt">
ABC-Analyse 
<br> 
 <!--  später kommen vielleicht noch mehr optionen hin, dann wird auch das link_to ersetzt  --> 
 	<%= link_to 'Ergebnis der ABC-Analyse für die Waren', "./erg_abc_an" %>

</body> 
	
