<body> 
<div id="Inhalt">
Ergebnis der Exponentiellen Glättung: 
<br> 
	pBm = <%= @e_expgl %> 
<br> 
Mit folgenden Parametern: 
<br>
	Planbedarf des letzten Monats = <%= params[:lPB] %>
<br> 
	Bedarf des letzten Montats = <%= params[:lB]%>
<br>
	Glättungsfaktor = <%= params[:alpha]%>
</div>
<body> 