# encoding: UTF-8

<body> 
	<div id="Inhalt">
	<h2>Willkommen im Webshop der C&C-Cloud GmbH</h2>
    <p>Navigieren Sie in der Navigationsleiste um mehr ueber unsere Produkte zu erfahren.</p>
	</div>
</body>

